@model Paginacion<MTPAdmin.Models.MTPAdminViewModels.Clients>

@{
    ViewData["Title"] = "Clientes";
}

<h2>@ViewData["Title"]</h2>

@*Filtro de registros*@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtro: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a asp-action="Index">Todos los registros</a> | @Model.TotalR registros
        </p>
    </div>
</form>

@*Grilla*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CompanySort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].CompanyName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Language)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FeAltaSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].AddDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LicenceTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PackageID)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SchemaSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].DbSchema)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DbName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ValidClient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenceTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DbSchema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidClient)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalles</a>
                    @if (item.ValidClient)
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Bloquear</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*Paginación*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="1"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    <<
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    <
</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    >
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.TotalPages)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    >>
</a>
